<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zeenet e-commerce</title>
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: "Gowun Batang", sans-serif;
        font-size: 14px;
        line-height: 1.25;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 14px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #131921;
        padding: 24px;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      /* Buttons */
      .button {
        display: inline-block;
        background-color: #131921;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to zeenet e-commerce</h1>
      </div>

      <div class="email-body">
        <p>
          Hello <%= createdUser.name.charAt(0).toUpperCase() +
          createdUser.name.slice(1).toLowerCase() %>,
        </p>
        <p>
          Thank you for registering with Zeenet e-commerce. We are thrilled to
          have you as part of our community. Your account has been successfully
          created, and you can now explore our wide range of products, enjoy
          exclusive offers, and make the most of your shopping experience. To
          get started, simply log in to your account using the credentials you
          provided during registration. If you have any questions or need
          assistance, our customer support team is here to help. We look forward
          to serving you and hope you enjoy your shopping experience with us.
        </p>
        <p>
          If you haven't registered for Zeenet e-commerce, please ignore this
          email.
        </p>
      </div>
      <div class="email-footer">
        If you have any question, Please don't hesitate to contact us at
        <a href="mailto:technologieszeenet@gmail.com"
          >technologieszeenet@gmail.com</a
        >
      </div>
    </div>
  </body>
</html>
